/**
  * Cube
  *
  * @author jh3y - jheytompkins.com
*/

body{
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image:  radial-gradient(#00ddff 0.7px, transparent 0.7px), radial-gradient(#2e34a9 0.7px, #e5e5f7 0.7px);
        background-size: 20px 20px;
        background-position: 0 0,10px 10px;


}
.sign {
        position: absolute;
        color: rgb(14, 6, 6);
        bottom: 10px;
        right: 10px;
        font-size: 10px;
      }
@-webkit-keyframes cube {
    0% {
      -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
    50% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
    100% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
  @keyframes cube {
    0% {
      -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-25deg) rotateY(25deg); }
    50% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(25deg); }
    100% {
      -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
              transform: rotate(45deg) rotateX(-385deg) rotateY(385deg); } }
  .cube{
    position: relative;
    display: flex;
    margin-top: 15%;
    margin-left: 46%;
  }
  h1{
        position: relative;
        display: flex;
        margin: 8rem;
        margin-left: 48%;
      }
  .cube {
    -webkit-animation: cube 2s infinite ease;
            animation: cube 2s infinite ease;
    height: 180px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 180px; }
    .cube div {
      background-color: rgba(175, 211, 215, 0.489);
      height: 100%;
      position: absolute;
      width: 100%;
      border: 2px solid rgb(211, 197, 47); }
      .cube div:nth-of-type(1) {
        -webkit-transform: translateZ(-90px) rotateY(180deg);
                transform: translateZ(-90px) rotateY(180deg); }
      .cube div:nth-of-type(2) {
        -webkit-transform: rotateY(-270deg) translateX(50%);
                transform: rotateY(-270deg) translateX(50%);
        -webkit-transform-origin: top right;
                transform-origin: top right; }
      .cube div:nth-of-type(3) {
        -webkit-transform: rotateY(270deg) translateX(-50%);
                transform: rotateY(270deg) translateX(-50%);
        -webkit-transform-origin: center left;
                transform-origin: center left; }
      .cube div:nth-of-type(4) {
        -webkit-transform: rotateX(90deg) translateY(-50%);
                transform: rotateX(90deg) translateY(-50%);
        -webkit-transform-origin: top center;
                transform-origin: top center; }
      .cube div:nth-of-type(5) {
        -webkit-transform: rotateX(-90deg) translateY(50%);
                transform: rotateX(-90deg) translateY(50%);
        -webkit-transform-origin: bottom center;
                transform-origin: bottom center; }
      .cube div:nth-of-type(6) {
        -webkit-transform: translateZ(90px);
                transform: translateZ(90px); }